<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.lamport.tla.toolbox.tool.tlc.modelCheck">
    <stringAttribute key="configurationName" value="Model_1"/>
    <intAttribute key="distributedFPSetCount" value="0"/>
    <stringAttribute key="distributedNetworkInterface" value="192.168.200.158"/>
    <intAttribute key="distributedNodesCount" value="1"/>
    <stringAttribute key="distributedTLC" value="off"/>
    <intAttribute key="fpIndex" value="22"/>
    <intAttribute key="maxHeapSize" value="25"/>
    <stringAttribute key="modelBehaviorInit" value=""/>
    <stringAttribute key="modelBehaviorNext" value=""/>
    <stringAttribute key="modelBehaviorSpec" value="Spec"/>
    <intAttribute key="modelBehaviorSpecType" value="1"/>
    <stringAttribute key="modelBehaviorVars" value="epoch, pc, scheduled, height, proposal, votes"/>
    <stringAttribute key="modelComments" value=""/>
    <booleanAttribute key="modelCorrectnessCheckDeadlock" value="true"/>
    <listAttribute key="modelCorrectnessInvariants">
        <listEntry value="1Safety"/>
        <listEntry value="1Liveness"/>
    </listAttribute>
    <listAttribute key="modelCorrectnessProperties">
        <listEntry value="0Termination"/>
    </listAttribute>
    <intAttribute key="modelEditorOpenTabs" value="8"/>
    <listAttribute key="modelParameterConstants">
        <listEntry value="GSE;;3;0;0"/>
        <listEntry value="Tx;;{tx1, tx2};1;1"/>
        <listEntry value="P;;{p1, p2, p3};1;1"/>
        <listEntry value="Quorum;;{{p1,p2},{p2,p3}};0;0"/>
        <listEntry value="MaxEpoch;;6;0;0"/>
        <listEntry value="Leader;e:;CASE e % 3 = 0 -&gt; p1&#10;[] e % 3 = 1 -&gt; p2&#10;[] e % 3 = 2 -&gt; p3;0;0"/>
    </listAttribute>
    <intAttribute key="modelVersion" value="20191005"/>
    <intAttribute key="numberOfWorkers" value="4"/>
    <stringAttribute key="result.mail.address" value=""/>
    <stringAttribute key="specName" value="DetSchedStreamlet"/>
    <stringAttribute key="tlcResourcesProfile" value="local custom"/>
</launchConfiguration>
