<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.lamport.tla.toolbox.tool.tlc.modelCheck">
    <stringAttribute key="configurationName" value="Model_1"/>
    <intAttribute key="distributedFPSetCount" value="0"/>
    <stringAttribute key="distributedNetworkInterface" value="192.168.200.158"/>
    <intAttribute key="distributedNodesCount" value="1"/>
    <stringAttribute key="distributedTLC" value="off"/>
    <intAttribute key="fpIndex" value="84"/>
    <intAttribute key="maxHeapSize" value="25"/>
    <stringAttribute key="modelBehaviorInit" value=""/>
    <stringAttribute key="modelBehaviorNext" value=""/>
    <stringAttribute key="modelBehaviorSpec" value="MyInit /\ [][Next]_vars"/>
    <intAttribute key="modelBehaviorSpecType" value="1"/>
    <stringAttribute key="modelBehaviorVars" value="height, votes"/>
    <stringAttribute key="modelComments" value=""/>
    <booleanAttribute key="modelCorrectnessCheckDeadlock" value="false"/>
    <listAttribute key="modelCorrectnessInvariants"/>
    <listAttribute key="modelCorrectnessProperties">
        <listEntry value="1Temporal1"/>
    </listAttribute>
    <intAttribute key="modelEditorOpenTabs" value="10"/>
    <stringAttribute key="modelExpressionEval" value=""/>
    <stringAttribute key="modelParameterActionConstraint" value=""/>
    <listAttribute key="modelParameterConstants">
        <listEntry value="P;;{p1, p2, p3};1;0"/>
        <listEntry value="V;;{v1, v2, v3, v4, v5, v6};1;0"/>
        <listEntry value="Quorum;;{Q \in SUBSET P : 2*Cardinality(Q) &gt; Cardinality(P)};0;0"/>
    </listAttribute>
    <stringAttribute key="modelParameterContraint" value=""/>
    <listAttribute key="modelParameterDefinitions"/>
    <stringAttribute key="modelParameterModelValues" value="{}"/>
    <stringAttribute key="modelParameterNewDefinitions" value="MyInit == &#10;/\ height = (p1 :&gt; 0 @@ p2 :&gt; 0 @@ p3 :&gt; 0)&#10;/\ votes = (p1 :&gt; {&lt;&lt;v1, v3&gt;&gt;, &lt;&lt;v1, v5&gt;&gt;} @@ p2 :&gt; {&lt;&lt;v1, v3&gt;&gt;} @@ p3 :&gt; {&lt;&lt;v1, v5&gt;&gt;})"/>
    <intAttribute key="modelVersion" value="20191005"/>
    <intAttribute key="numberOfWorkers" value="4"/>
    <stringAttribute key="result.mail.address" value=""/>
    <stringAttribute key="specName" value="PreStreamlet"/>
    <stringAttribute key="tlcResourcesProfile" value="local custom"/>
    <listAttribute key="traceExploreExpressions">
        <listEntry value="1{v \in V : Tip(v)}"/>
        <listEntry value="1[v \in Vertices(G) |-&gt; Height(v)]"/>
    </listAttribute>
</launchConfiguration>
