<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.lamport.tla.toolbox.tool.tlc.modelCheck">
    <stringAttribute key="TLCCmdLineParameters" value=""/>
    <intAttribute key="collectCoverage" value="0"/>
    <stringAttribute key="configurationName" value="Model_1"/>
    <booleanAttribute key="deferLiveness" value="false"/>
    <intAttribute key="dfidDepth" value="100"/>
    <booleanAttribute key="dfidMode" value="false"/>
    <intAttribute key="distributedFPSetCount" value="0"/>
    <stringAttribute key="distributedNetworkInterface" value="192.168.200.158"/>
    <intAttribute key="distributedNodesCount" value="1"/>
    <stringAttribute key="distributedTLC" value="off"/>
    <stringAttribute key="distributedTLCVMArgs" value=""/>
    <intAttribute key="fpBits" value="1"/>
    <intAttribute key="fpIndex" value="17"/>
    <booleanAttribute key="fpIndexRandom" value="true"/>
    <intAttribute key="maxHeapSize" value="20"/>
    <intAttribute key="maxSetSize" value="1000000"/>
    <booleanAttribute key="mcMode" value="true"/>
    <stringAttribute key="modelBehaviorInit" value=""/>
    <stringAttribute key="modelBehaviorNext" value=""/>
    <stringAttribute key="modelBehaviorSpec" value="Init /\ [][Next]_vars"/>
    <intAttribute key="modelBehaviorSpecType" value="1"/>
    <stringAttribute key="modelBehaviorVars" value="epoch, height, votes"/>
    <stringAttribute key="modelComments" value=""/>
    <booleanAttribute key="modelCorrectnessCheckDeadlock" value="false"/>
    <listAttribute key="modelCorrectnessInvariants">
        <listEntry value="0Safety"/>
        <listEntry value="0BaitInv1"/>
        <listEntry value="0~MyInit"/>
        <listEntry value="0\neg (&#10;/\  height = (p1 :&gt; 0 @@ p2 :&gt; 1 @@ p3 :&gt; 0)&#10;/\  round = (p1 :&gt; 4 @@ p2 :&gt; 3 @@ p3 :&gt; 4)&#10;/\  votes = ( p1 :&gt; &lt;&lt;&lt;&lt;v1, v3&gt;&gt;, &lt;&lt;&gt;&gt;, &lt;&lt;v1,v5&gt;&gt;,&lt;&lt;&gt;&gt; &gt;&gt; @@ p2 :&gt; &lt;&lt;&lt;&lt;v1, v3&gt;&gt;, &lt;&lt;v3,v2&gt;&gt;, &lt;&lt;&gt;&gt;, &lt;&lt;&gt;&gt;&gt;&gt; @@ p3 :&gt; &lt;&lt;&lt;&lt;&gt;&gt;, &lt;&lt;&gt;&gt;, &lt;&lt;v1,v5&gt;&gt;, &lt;&lt;&gt;&gt;&gt;&gt; )&#10;)"/>
        <listEntry value="0\neg (&#10;    /\  height = (p1 :&gt; 0 @@ p2 :&gt; 1 @@ p3 :&gt; 0)&#10;    /\  votes = ( p1 :&gt; &lt;&lt;&lt;&lt;v1, v3&gt;&gt;, &lt;&lt;&gt;&gt;, &lt;&lt;v1,v5&gt;&gt;, &lt;&lt;&gt;&gt;, &lt;&lt;&gt;&gt;&gt;&gt; @@&#10;      p2 :&gt; &lt;&lt;&lt;&lt;v1, v3&gt;&gt;, &lt;&lt;v3,v2&gt;&gt;, &lt;&lt;&gt;&gt;, &lt;&lt;&gt;&gt;, &lt;&lt;&gt;&gt;&gt;&gt; @@&#10;      p3 :&gt; &lt;&lt;&lt;&lt;&gt;&gt;, &lt;&lt;&gt;&gt;, &lt;&lt;v1,v5&gt;&gt;, &lt;&lt;&gt;&gt;, &lt;&lt;&gt;&gt;&gt;&gt; ))"/>
        <listEntry value="1Inv1"/>
        <listEntry value="0BaitInv2"/>
        <listEntry value="0BaitInv3"/>
    </listAttribute>
    <listAttribute key="modelCorrectnessProperties"/>
    <intAttribute key="modelEditorOpenTabs" value="14"/>
    <stringAttribute key="modelExpressionEval" value=""/>
    <stringAttribute key="modelParameterActionConstraint" value=""/>
    <listAttribute key="modelParameterConstants">
        <listEntry value="P;;{p1, p2, p3};1;1"/>
        <listEntry value="Quorum;;{{p1,p2},{p2,p3}};0;0"/>
        <listEntry value="Tx;;{Tx1, Tx2};1;1"/>
        <listEntry value="MaxEpoch;;4;0;0"/>
    </listAttribute>
    <stringAttribute key="modelParameterContraint" value=""/>
    <listAttribute key="modelParameterDefinitions"/>
    <stringAttribute key="modelParameterModelValues" value="{}"/>
    <stringAttribute key="modelParameterNewDefinitions" value=""/>
    <intAttribute key="modelVersion" value="20191005"/>
    <intAttribute key="numberOfWorkers" value="3"/>
    <booleanAttribute key="recover" value="false"/>
    <stringAttribute key="result.mail.address" value=""/>
    <intAttribute key="simuAril" value="-1"/>
    <intAttribute key="simuDepth" value="100"/>
    <intAttribute key="simuSeed" value="-1"/>
    <stringAttribute key="specName" value="Streamlet"/>
    <stringAttribute key="tlcResourcesProfile" value="local custom"/>
    <listAttribute key="traceExploreExpressions">
        <listEntry value="1{b \in Blocks : Tip(b)}"/>
    </listAttribute>
    <stringAttribute key="view" value=""/>
    <booleanAttribute key="visualizeStateGraph" value="false"/>
</launchConfiguration>
